.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@font-face{
    font-family: "Outfit";
    src: url(/font/Outfit-VariableFont_wght.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}

    body {
        font-family: "Outfit";
        background-color: hsl(217, 54%, 11%);
        color: white;
    }

    .flex-container {
        background-color: hsl(216, 50%, 16%);
        display: flex;
        flex-direction: column;
        width: 375px;
    }

    img {
        width: 90%;
        margin: auto;
        margin-top: 5%;
    }
    